@model IEnumerable<MyCafe.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="backgroundWhite border">
    <div class="row">
        <div class="col-6">
            <h4 class="text-primary"><strong>List of Categories</strong></h4>
        </div>
        <div class="col-6 text-right mb-2">
            @Html.Partial("_CreateNewPartial")
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered" id="mytable">
        <thead>
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th class="text-center"> Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td class="text-center">
                        @Html.Partial("_TableButtonPartial", item.Id)
                        @*<a class="btn btn-primary btn btn-square" asp-action="Edit" asp-route-id="@Model"><i class="far fa-edit"></i>&nbsp;Edit</a>
                            <a class="btn btn-success btn btn-square" asp-action="Details" asp-route-id="@Model"><i class="far fa-list-alt"></i>&nbsp;Details</a>*@
                        @*<a class="btn btn-danger btn btn-square active" id=deleteid onclick="Delete('/Categories/Delete/@Model')"><i class="far fa-trash-alt"></i>&nbsp;Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*For using datatables*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    });
</script>


@*For using API  to get the data*@
@*<script type="text/javascript">

        function Delete(url) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: url,   @*'~/Cascading/StateList/' + $('#deleteid').val(),
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            dataTable.ajax.reload();

                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            });

        }
    </script>*@


